<div class="courseShow">
    <div class="courseShowContainer">
        <div class="courseShowLeft">
            <div class="courseShowTop">
                <h1>{{course.name}}</h1>
                <div class="topText">
                    {{course.description}}
                </div>
            </div>
            <div class="courseShowContent">
                <h2>Nội dung khóa học</h2>
            </div>
        </div>
        <div class="courseShowRight">
            <div class="showVideo">
                <iframe src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <h2>Miễn phí</h2>
            <a href="#">ĐĂNG KÝ HỌC</a>
            <ul>
                <li>
                    <div class="icon">
                        <i class="fa-solid fa-circle-exclamation"></i>
                    </div>
                    <div class="text">
                        Trình độ cơ bản
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-solid fa-film"></i>
                    </div>
                    <div class="text">
                        Tổng số <span>11</span> bài học
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-solid fa-clock"></i>
                    </div>
                    <div class="text">
                        Thời lượng <span>03 giờ 25 phút</span>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-solid fa-battery-full"></i>
                    </div>
                    <div class="text">
                        Học mọi lúc, mọi nơi
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>