<div class="authModelContent">
    <a href = "" class="btn_close">
        <i class="fa-solid fa-circle-xmark"></i>
    </a>

    <div id="id_btn_prev" class="btn_prev">
        <i class="fa-solid fa-angle-left"></i>
    </div>

    <div class="infor_auth">
        <div class="infor_auth_img">
            <a href="" class="img_auth">
                <img src="https://accounts.fullstack.edu.vn/assets/icon/f8_icon.png" alt="">
            </a>
            <h1>Đăng nhập vào F8</h1>
            <p class="warning">Mỗi người nên sử dụng một tài khoản, tài khoản nhiều người sử dụng chung có thể sẽ bị khóa.</p>
        </div>
    </div>

    <div id="id_func_auth" class="func_auth">
        <div class="btnSign">
            <img src="https://accounts.fullstack.edu.vn/assets/images/signin/personal-18px.svg" alt="">
            <p>Sử dụng email / số điện thoại</p>
        </div>
        <a href="/auth/google" class="btnSign">
            <img src="https://accounts.fullstack.edu.vn/assets/images/signin/google-18px.svg" alt="">
            <p>Đăng nhập với Google</p>
        </a>
    </div>

    <form action="" id="id_func_form_auth" class="func_form_auth">
        <div class="form_auth_label">
            <p>Email</p>
        </div>
        <div class="form_auth_input">
            <input type="email" name="email" id="email" placeholder="Địa chỉ email">
        </div>
        <div class="form_auth_input">
            <input type="text" name="password" id="password" placeholder="Mật khẩu">
        </div>
        <div class="form_auth_btn">
            {{!-- <a href="" class="btn-submit">
                Đăng nhập
            </a> --}}
            <input class="btn-submit" type="submit" value="Đăng nhập">
        </div>
    </form>

    <div class="cont_auth">
        <div>
            Bạn đã có tài khoản?
            <a href="#">Đăng ký</a>
        </div>
        <p>Việc bạn tiếp tục sử dụng trang web này đồng nghĩa bạn đồng ý với <span>điều khoản sử dụng</span> của chúng tôi.</p>
    </div>
</div>