<div class="footerF8">
    <div class="contentFooter">
        <div class="infor">
            <div class="itemInfor">
                <div class="titleInfor">
                    <div class="itemImg">
                        {{!-- todo: background-image --}}
                    </div>
                    <p>Học Lập Trình Để Đi Làm</p>
                </div>
            </div>

            <div class="itemInfor">
                <div class="titleInfor">
                    <p>VỀ F8</p>
                </div>
                <ul>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Điều khoản</a></li>
                    <li><a href="">Bảo mật</a></li>
                    <li><a href="">Cơ hội việc làm</a></li>
                </ul>
            </div>

            <div class="itemInfor">
                <div class="titleInfor">
                    <p>SẢN PHẨM</p>
                </div>
                <ul>
                    <li><a href="">Game Nester</a></li>
                    <li><a href="">Game Nester</a></li>
                    <li><a href="">Game Nester</a></li>
                    <li><a href="">Game Nester</a></li>
                    <li><a href="">Game Nester</a></li>
                    <li><a href="">Game Nester</a></li>
                </ul>
            </div>

            <div class="itemInfor">
                <div class="titleInfor">
                    <p>CÔNG CỤ</p>
                </div>
                <ul>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Điều khoản</a></li>
                    <li><a href="">Bảo mật</a></li>
                    <li><a href="">Cơ hội việc làm</a></li>
                </ul>
            </div>

            <div class="itemInfor">
                <div class="titleInfor">
                    <p>CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC F8</p>
                </div>
                <ul>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Điều khoản</a></li>
                    <li><a href="">Bảo mật</a></li>
                    <li><a href="">Cơ hội việc làm</a></li>
                </ul>
            </div>

        </div>
        <div class="contact">

        </div>
    </div>
</div>