<div class="sideBarContent">
    <div class="iconPlus">
        <div class="iconF8">
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="dropdown_blogs">
            <div class="containerDropdown">
                <div class="icon">
                    <i class="fa-solid fa-pen"></i>
                </div>
                <p>Viết blog</p>
            </div>
        </div>
    </div>
    <div>
        <ul class="sideList" style="padding-left: 0;">
            <li>
                <a href="/home" class="sideBarItem">
                    <div class="iconF8">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/learning_path" class="sideBarItem">
                    <div class="iconF8">
                        <i class="fa-solid fa-road"></i>
                    </div>
                    <span>Lộ trình</span>
                </a>
            </li>
            <li>
                <a href="" class="sideBarItem">
                    <div class="iconF8">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <span>Học</span>
                </a>
            </li>
            <li>
                <a href="" class="sideBarItem">
                    <div class="iconF8">
                        <i class="fa-solid fa-newspaper"></i>
                    </div>
                    <span>Blogs</span>
                </a>
            </li>
        </ul>
    </div>
</div>