<div class="containerF8">
    <div class="slideShowF8">
        <div class="sl">
            <div class="slides">
                <div class="slideItem" style="background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));">
                    <div class="slideItemLeft">
                        <a href="#">Học ReactJS Miễn Phí!</a>
                        <p>Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể làm hầu hết các dự án thường gặp với ReactJS.</p>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=100025748692017">Đăng ký ngay</a>
                        </div>
                    </div>
                    <div class="slideItemRight">
                        <a href="https://www.facebook.com/profile.php?id=100025748692017">
                            <div style="background-image: url(https://files.fullstack.edu.vn/f8-prod/banners/Banner_web_ReactJS.png);">
                                {{!-- todo: background-iamge --}}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slideItem" style="background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));">
                    <div class="slideItemLeft">
                        <a href="https://www.facebook.com/profile.php?id=100025748692017">Thành Quả Của Học Viên</a>
                        <p>Để đạt được kết quả tốt trong mọi việc ta cần xác định mục tiêu rõ ràng cho việc đó. Học lập trình cũng không là ngoại lệ.</p>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=100025748692017">Đăng ký ngay</a>
                        </div>
                    </div>
                    <div class="slideItemRight">
                        <a href="https://www.facebook.com/profile.php?id=100025748692017">
                            <div style="background-image: url(https://files.fullstack.edu.vn/f8-prod/banners/Banner_01_2.png);">
                                {{!-- todo: background-iamge --}}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slideItem" style="background: linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2));">
                    <div class="slideItemLeft">
                        <a href="https://www.facebook.com/profile.php?id=100025748692017">F8 trên Youtube</a>
                        <p>F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó.</p>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=100025748692017">Đăng ký ngay</a>
                        </div>
                    </div>
                    <div class="slideItemRight">
                        <a href="https://www.facebook.com/profile.php?id=100025748692017">
                            <div style="background-image: url(https://files.fullstack.edu.vn/f8-prod/banners/Banner_03_youtube.png);">
                                {{!-- todo: background-iamge --}}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slideItem" style="background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));">
                    <div class="slideItemLeft">
                        <a href="https://www.facebook.com/profile.php?id=100025748692017">F8 trên Facebook</a>
                        <p>F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó.</p>
                        <div>
                            <a href="https://www.facebook.com/profile.php?id=100025748692017">Đăng ký ngay</a>
                        </div>
                    </div>
                    <div class="slideItemRight">
                        <a href="https://www.facebook.com/profile.php?id=100025748692017">
                            <div style="background-image: url(https://files.fullstack.edu.vn/f8-prod/banners/Banner_04_2.png);">
                                {{!-- todo: background-iamge --}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="button prev">
                    <div class="icon">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                </div>
                <div class="button next">
                    <div class="icon">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
        {{!-- todo: stop --}}
    </div>
    <div class="courseF8">
        <ul class="titleCourse">
            <li>
                <a href="#">
                    Khóa học miễn phí
                </a>
            </li>
            <li>
                <a href="/learning_path">Xem lộ trình</a>
                <div class="iconF8">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </li>
        </ul>
        <div class="itemCourse">

            {{#each courses}}
            <div class="itemF8">
                <a href="/courses/{{this.slug}}">
                    <div class="imgItem" style="background-image: url({{this.image}});">
                        {{!-- todo: background-image --}}
                    </div>
                    <p class="name">{{this.name}}</p>
                </a>
                <div class="accessF8">
                    <div class="icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <p>{{this.access}}</p>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>