<div class="learning_path">
    <div class="learning_path_top">
        <h1>Lộ trình học</h1>
        <div class="learning_path_text">
            <p>Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ: Để đi làm với vị trí "Lập trình viên Front-end" bạn nên tập trung vào lộ trình "Front-end".</p>
        </div>
    </div>
    <div class="learning_path_body">
        <div class="learning_path_content">
            <div class="learning_path_content_item">
                <div class="content_item_detail">
                    <div class="content_item_text">
                        <a href="">Lộ trình học Front-end</a>
                        <p>Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.</p>
                    </div>
                    <div>
                        <a href="learning_path/front_end" class="content_item_img">
                            <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/63b4642136f3e.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="content_item_btn">
                    <div>
                        <a href="/learning_path/front_end">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="learning_path_content_item">
                <div class="content_item_detail">
                    <div class="content_item_text">
                        <a href="">Lộ trình học Back-end</a>
                        <p>Trái với Front-end thì lập trình viên Back-end là người làm việc với dữ liệu, công việc thường nặng tính logic hơn. Chúng ta sẽ cùng tìm hiểu thêm về lộ trình học Back-end nhé.</p>
                    </div>
                    <div>
                        <a href="learning_path/back_end" class="content_item_img">
                            <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/63b4641535b16.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="content_item_btn">
                    <div>
                        <a href="/learning_path/back_end">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="learning_path_suggest">
            <div class="suggest_infor">
                <h2>Tham gia cộng đồng học viên F8 trên Facebook</h2>
                <p>Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp, chia sẻ và hỗ trợ nhau trong quá trình học nhé.</p>
                <div class="suggest_infor_btn">
                    <div>
                        <a href="">Tham gia nhóm</a>
                    </div>
                </div>
            </div>
            <div class="suggest_image">
                <div>
                    {{!-- https://fullstack.edu.vn/static/media/fb-group-cards.4bd525b1b8baf7b1e5a2.png --}}
                </div>
            </div>
        </div>
    </div>
</div>