<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="app">
        {{> nav_mainHome}}

        <div class="content">
            <div class="sideBar">
                {{> sideBar}}
            </div>
            <div class="bodyArea">
                {{{body}}}
            </div>
        </div>
        <div id="id_authModel" class="authModel">
            {{> authModel}}
        </div>

        {{> footer}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        const prev = document.querySelector(".bodyArea .containerF8 .slideShowF8 .sl .buttons .prev");
        const next = document.querySelector(".bodyArea .containerF8 .slideShowF8 .sl .buttons .next");
        const slide = document.querySelector(".slideShowF8 .slides")
        const items = document.querySelectorAll(".slideShowF8 .slides .slideItem")
        const iconPlus = document.querySelector(".content .sideBarContent .iconPlus")
        const dropdown_blogs = document.querySelector(".content .sideBarContent .iconPlus .dropdown_blogs")
        const iconF8 = document.querySelector(".content .sideBarContent .iconPlus .iconF8")
        const courses = document.querySelectorAll(".navItemF8 .dropSearch .dropSearchDetail .detailSearch .course a")
        const inputSearch = document.querySelector(".navItemF8 .input_search input")
        const valueInputSearch = document.querySelector(".navItemF8 .input_search input")
        const dropSearch = document.querySelector(".navItemF8 .dropSearch")
        const resultSearch = document.querySelector(".navItemF8 .dropSearch .dropSearchDetail .resultSearch .text span")
        const body = document.querySelector(".app")
        const authModel = document.getElementById("id_authModel")
        const btnLogin = document.querySelector(".app .navF8 .btn_login")

        var isBtnLogin = false
        btnLogin.onclick = function() {
            if (isBtnLogin == false) {
                authModel.style.display = 'flex'
            } else {
                authModel.style.display = 'none'
            }
        }

        inputSearch.addEventListener("keyup", function() {
            resultSearch.innerHTML = this.value
            if(this.value == '' ) {
                dropSearch.style.display = 'none'
            } else {
                dropSearch.style.display = 'block'
            }
            for (var i = 1; i < courses.length + 1; i++ ){
                const textH7 = document.querySelector(".navItemF8 .dropSearch .dropSearchDetail .detailSearch .course a:nth-child(" + i + ") h7")
                const tmp = document.querySelector(".navItemF8 .dropSearch .dropSearchDetail .detailSearch .course a:nth-child(" + i + ")")
                if (this.value.length > 1 && textH7.innerHTML.toUpperCase().indexOf(this.value.toUpperCase()) > -1) {
                    tmp.style.display = 'flex'
                } else {
                    tmp.style.display = 'none'
                }
            }
        })

        {{!-- todo: bắt lỗi sự kiện khi nhấn phím enter --}}
        inputSearch.addEventListener("keypress", function(e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if (keycode == '13') {
                e.preventDefault()
            }
        })

        var isVisibleBlog = false
        {{!-- todo: click vào khoảng trắng --}}
        body.onclick = function(e) {
            if (e.target != dropSearch && e.target != inputSearch) {
                dropSearch.style.display = 'none'
            } else if (e.target == inputSearch && inputSearch.value != '') {
                dropSearch.style.display = 'block'
            }
        }

        var active = 0

        next.onclick = function() {
            if (active == 0) {
                slide.style.left = items[0].offsetLeft + "px";
            }
            if (active + 1 > items.length - 1) {
                active = 0
            } else { 
                active += 1
            }
            reLoadWeb(active);
        }

        prev.onclick = function() {
            if (active == 0) {
                slide.style.left = items[0].offsetLeft + "px";
            }
            if (active - 1 < 0) {
                active = items.length - 1;
            } else {
                active -= 1;
            }
            reLoadWeb(active);
        }

        function reLoadWeb(index) {
            var checkLeft = items[index].offsetLeft;
            slide.style.left = -checkLeft + "px";
        }

        setInterval( () => {
            if (active == 0) {
                slide.style.left = items[0].offsetLeft + "px";
            }
            if (active + 1 > items.length - 1) {
                active = 0
            } else { 
                active += 1
            }
            reLoadWeb(active);
        }, 5000)

        {{!-- todo: click visible dropdown_blogs --}}
        iconF8.addEventListener("click", function () {
            if (isVisibleBlog == false) {
                dropdown_blogs.style.display = "block"
                isVisibleBlog = true
            } else {
                dropdown_blogs.style.display = "none"
                isVisibleBlog = false
            }
        })

    </script>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script> --}}
</body>
</html>